<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>新增幣別對應</h2>
    <form th:action="@{/add}" method="post">
        貨幣英文名稱<input type="text" name="coinName"><br>
        貨幣中文名稱<input type="text" name="coinNameTw"><br>
        <input type="submit" value="新增貨幣對應">
    </form>
</div>

<div>
    <table>
        <tr>
            <th>#</th>
            <td>貨幣英文名稱</td>
            <td>貨幣中文名稱</td>
            <td></td>
        </tr>
        <tr th:each="co, stat:${coin}">
            <th th:text="${stat.count}"></th>
            <td th:text="${co.code}"></td>
            <td th:text="${co.code_tw}"></td>
            <td>remove</td>
        </tr>
    </table>
</div>
</body>
</html>